#%RAML 1.0
---

title: Real-Time Information (RTI) details from Tax Credits Broker API
version: 2.0
protocols: [ HTTPS ]
baseUri: http://api.service.hmrc.gov.uk

documentation:
  - title: Overview
    content: !include documentation/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing the API
    content: !include documentation/testing-approach.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml

mediaType: [ application/json, application/hal+json ]

types:
  NationalInsuranceNumberType:
    pattern: "^((?!(BG|GB|KN|NK|NT|TN|ZZ)|(D|F|I|Q|U|V)[A-Z]|[A-Z](D|F|I|O|Q|U|V))[A-Z]{2})[0-9]{6}[A-D]$"

traits:
  authorizationHeader:
    headers:
      Authorization:
        description: An OAuth 2.0 Bearer Token.
        type: string
        required: true
        example: Bearer bb7fed3fe10dd235a2ccda3d50fb

/tcs:
  /{nationalInsuranceNumber}:
    uriParameters:
      nationalInsuranceNumber:
        type: NationalInsuranceNumberType
        description: The individual's National Insurance Number
        example: "AA123456A"
    /employed-earnings-rti:
      get:
        description: Retrieve Tax Credits Real-Time Information details from HOD for a given NINO.
        displayName: Retrieve individual's RTI details
        is: [authorizationHeader, headers.contentHeader]
        (annotations.sandboxData): !include testdata/get-residency-status.md
        responses:
          200:
            body:
              application/json:
                type: !include schemas/getRTIEmploymentEarnings.schema.json
                example: |
                  {
                    "previousYearRTIEmployedEarnings" : 4000.00,
                    "previousYearRTIEmployedEarningsPartner": 5000.00
                  }
          400:
            body:
              application/json:
                type: !include schemas/ErrorCodes.schema.json
                description: National Insurance Number in the URL is in the wrong format
                example: |
                  {
                    "code" : "BAD_REQUEST",
                    "message" : "National Insurance Number in the URL is in the wrong format."
                  }
          401:
            body:
              application/json:
                  type: !include schemas/ErrorCodes.schema.json
                  description: Bearer Token invalid or Empty.
          404:
            body:
              application/json:
                description: The RTI information cannot be found for this individual.
                type: !include schemas/ErrorCodes.schema.json
                example: |
                  {
                    "code": "RTI_NOT_FOUND",
                    "message": "Cannot provide employment earnings for this individual."
                  }
          500:
            body:
              application/json:
                description: Internal Server Error.
                type: !include schemas/ErrorCodes.schema.json
                example: |
                  {
                    "code": "INTERNAL_SERVER_ERROR",
                    "message": "Internal Server Error."
                  }
          503:
            body:
              application/json:
                description: Service Unavailable.
                type: !include schemas/ErrorCodes.schema.json
                example: |
                  {
                    "code": "SERVICE_UNAVAILABLE",
                    "message": "Service Unavailable."
                  }
