#%RAML 1.0
---

title: Customer information for businesses
version: 1.0
protocols: [ HTTPS ]
baseUri: http://api.service.hmrc.gov.uk

documentation:
  - title: Overview
    content: !include documentation/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml

mediaType: [ application/json, application/hal+json ]

types:
  UUID:
    type: string
    pattern: "^[0-9A-Fa-f]{8}(-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}$"
    example: "6b853b58-625f-4e64-955e-43a7cdff5c03"

/customer:
      /matched:
            /{customer-uuid}:
              description: |
                Returns a URL you can use to check a customer’s information. Currently, the only check available is to
                check if the customer is a Scottish taxpayer.

                The URL is only valid for a limited period of time. After expiry a 404 will be returned if accessed.
              displayName: Check a customer’s information
              uriParameters:
                customer-uuid:
                  type: UUID
                  example: "6b853b58-625f-4e64-955e-43a7cdff5c03"

              /get-residency-status:
                description: Check if the customer is resident in Scotland for tax purposes.

                             If you’re a pension scheme administrator, you need to know this to make the correct
                             relief at source claims.
                displayName: Check if a customer is a Scottish resident
                get:
                  description: Check if the customer is resident in Scotland for tax purposes.

                               If you’re a pension scheme administrator, you need to know this to make the correct
                               relief at source claims.
                  displayName: Check if a customer is a Scottish resident
                  responses:
                    200:
                      body:
                        application/json:
                          type: !include schemas/getResidencyStatus.schema.json
                          example: |
                            {
                              "currentYearResidencyStatus" : "otherUKResident",
                              "nextYearForecastResidencyStatus" : "scotResident"
                            }
                    403:
                      description:
                        The match has timed out and the UUID is no longer valid.
                        The match (POST to /match) will need to repeated.
