#%RAML 1.0
---

title: Relief at source indvidual residency checker
version: 1.0
protocols: [ HTTPS ]
baseUri: http://api.service.hmrc.gov.uk

documentation:
  - title: Overview
    content: !include documentation/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing the API
    content: !include documentation/testing-approach.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml

mediaType: [ application/json, application/hal+json ]

/relief-at-source:
      /individuals:
              /residency-status:
                description: Check if an individual is a resident in Scotland for tax purposes.

                             If you’re a pension scheme administrator, you need to know this to make the correct
                             relief at source claims.
                displayName: Check if an individual is a Scottish resident
                post:
                  description: !include documentation/description.html
                  displayName: Check if an individual is a Scottish resident
                  is: [headers.acceptHeader]
                  (annotations.scope): "read:ras"
                  securedBy: [ sec.oauth_2_0: { scopes: [ "read:ras" ] } ]
                  (annotations.sandboxData): !include testdata/get-residency-status.md
                  body:
                    application/json:
                        example: !include examples/residency_status_request.ex.json
                        type: !include schemas/residency_status.schema.json
                  responses:
                    200:
                      body:
                        application/json:
                          type: !include schemas/getResidencyStatus.schema.json
                          example: |
                            {
                              "currentYearResidencyStatus" : "otherUKResident",
                              "nextYearForecastResidencyStatus" : "scotResident"
                            }
                    400:
                      body:
                        application/json:
                          type: !include schemas/ErrorCodes.schema.json
                          description: Bad Request
                          example: |
                            {
                              "code" : "BAD_REQUEST",
                              "message" : "Bad Request"
                            }
                    403:
                      body:
                        application/json:
                          description: The indvidual's details provided did not match with HMRC’s records.
                          type: !include schemas/ErrorCodes.schema.json
                          example: |
                            {
                              "code": "MATCHING_FAILED",
                              "message": "The indvidual's details provided did not match with HMRC’s records."
                            }